/* For Webkit browsers */
.custom-scroll::-webkit-scrollbar {
	width: 10px;
}

.custom-scroll::-webkit-scrollbar-track {
	background: #f1f1f1;
}

.custom-scroll::-webkit-scrollbar-thumb {
	background: #a3a3a3;
	border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
	background: #555;
}

